body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Silkscreen', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
